<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Misc Tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- HTML Meta Tags -->
  <title>Twitter Auth - Home</title>

  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Twitter Authentication - DIBSTER">
  <meta itemprop="image" content="../Assets/favicon.ico">

  <!-- Facebook Meta Tags -->
  <!-- <meta property="og:url" content="">
  <meta property="og:type" content="">
  <meta property="og:title" content="">
  <meta property="og:image" content=""> -->

  <!-- Twitter Meta Tags -->
  <!-- <meta name="twitter:card" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:image" content=""> -->

  <!-- CSS Meta Tags -->
  <link rel="stylesheet" href="index.css">

</head>
<body>
  <main>
    <div id="root">
      <center><h1>Hello! Select one below:</h1></center>
      <br>
        <center><a href="/callback-authorize" id="links">Website Based Authorization</a></center>
        <center><a href="/pin-flow" id="links">Pin Based Authorization</a></center>
      </ul>
    </div>
  </main>
</body>
</html>
