<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Misc Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML Meta Tags -->
    <title>Twitter Auth - Pin Authorization</title>

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Twitter Authentication - DIBSTER">
    <meta itemprop="image" content="../Assets/favicon.ico">

    <!-- Facebook Meta Tags -->
    <!-- <meta property="og:url" content="">
    <meta property="og:type" content="">
    <meta property="og:title" content="">
    <meta property="og:image" content=""> -->

    <!-- Twitter Meta Tags -->
    <!-- <meta name="twitter:card" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:image" content=""> -->

    <!-- CSS Meta Tags -->
    <link rel="stylesheet" href="./CSS/main.css">
  </head>
  <body>
    <main>
      <div id="root">
        <center><h1>Hello!</h1></center>
        <br>
        <br>
          <center><a href="<%= authLink %>" id="links" target="_black12345">Click Here to Start!</a></center>
        </ul>
      </div>
    </main>

    <!-- JavaScript Meta Tags -->
    <script type="text/javascript" src="./Scripts/pin.js"></script>
  </body>
</html>
